/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 51px;
	background-color: #e7e7e7;
}

.navbar-custom {
	background-color: inherit;
	border-color: #ccc;
	.navbar-brand {
		color: #777;
		&:hover, &:focus { 
			color: #333; 
		}
	}
	.navbar-text {
		color: #777; 
	}

	.navbar-nav {
		> li {
			> a {
				color: #777;
				font-size: 13px;
				&:hover,  &:focus {
					color: #999; 
				}
			}
		}
		> .active {
			> a, > a:hover, > a:focus {
				color: #777;
				background-color: #ccc; 
			}
		}
		> .open {
			> a, > a:hover, > a:focus {
				color: #777;
				background-color: #ccc; 
			}
		}
	}
	.navbar-toggle {
		border-color: #ccc;
		&:hover, &:focus {
			background-color: #ccc; 
		}
		.icon-bar {
			background-color: #ccc; 
		}
	}
	.navbar-collapse,
	.navbar-form {
		border-color: #ccc; 
	}
	.navbar-link {
		color: #777;
		&:hover {
			color: #333; 
		}
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: #777;
			&:hover, &:focus {
				color: #333; 
			}
		}
		> .active {
			> a, > a:hover, > a:focus, {
				color: white;
				background-color: #1164b1; 
			}
		}
	}
}

header {

	.navbar {
		margin-bottom: 0px;
		li {
			background-color: inherit;
		}
	}

	.btn-custom {
		background-color: inherit;
		border-radius: 0px;
		color: white;
		padding: 6px;
		font-size: 12px;
		font-weight: 300;
		&:hover {
			color: #e7e7e7;
		}
	}

	.btn-image-custom{
		background-color: inherit;
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0px;
		color: white;
		padding: 6px;
		font-size: 12px;
		font-weight: 300;
		&:hover {
			color: #e7e7e7;
		}
	}

}

footer {
	padding-right: 2%;
	padding-left: 2%; 
	margin-top: 25px;
	padding-top: 5px;
	border-top: 1px solid #ccc;
	color: #777;
	a {
		color: #777;
		font-size: 11px;
		&:hover {
			text-decoration: none;
		  	color: #333;
		}
	}
	small {
		float: left;
	}
	
	ul {
		float: right;
		list-style: none;
		li {
	  		float: left;
	  		margin-left: 10px;
		}
	}
}

 .wordwrap {
	/* wrap long text and urls */
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word; /* IE 5+ */
} 