// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-project {

	text-align: center;
	padding-top: 25px; 

	h4 {
		font-weight: 300;
		color: #777;
		padding-bottom: 10px;
	}



}