<header class="navbar" role = "navigation">
	<div class = "container-fluid">
	    <div class="navbar-header">
			<%= link_to content_tag(:span, "", class: "glyphicon glyphicon-home"), root_path, :class => "navbar-brand"%>
		</div>
	</div>
</header>
